@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

        <table class="table table-striped table-hover table-bordered text-center">
            <thead>
                <tr>
                    <th>Storage name</th>
                    <th>Current stock</th>
                    <th>Max capacity</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var storages in Model.Storages)
                {
                    <tr>
                        <td>@storages.StorageName</td>
                        <td>@storages.CurrentStock</td>
                        <td>@storages.MaxCapacity</td>
                        <td>@storages.Created</td>
                    </tr>
                }
            </tbody>          
        </table>
    
</div>
